<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css"> <!-- Configuración de carpeta para diseños CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /><!-- Link para obtener iconos de la pagina enlazada, para agregar se debe ver la sintaxis que muetsra la pagina -->
    <title>Document</title>
</head>
<body>
    <header>
        <div class="top-header">
            <div class="logo">
                <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
            </div>
            <div class="buscador">
                <div class="barra-busqueda">
                    <p>Buscar productos marcas y más</p>
    
    
                </div><!-- barrabusqueda -->
                <div class="icono-lupa">
                    <i class="fas fa-search"></i>
                </div><!-- icono lupa -->

            </div>
    
            <div class="txt-sin-tarjeta">
                <p><i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de credito</p>
            </div><!-- texto sin tarjeta de credito -->
            




        
        </div>
        

        <div class="medium-header">
            <div class="listadoleft">
                <nav>
                    <ul class="Primerlistadonav">
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Tiendas Oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul><!-- Primer listado -->
                </nav>
            </div>

            <div class="listadoright">
                <nav>
                    <ul class="Segundolistadonav">
                        <li><a href="#">Crea tu cuenta  <i class="far fa-id-card"></i></a></li>
                        <li><a href="#">Ingresá  <i class="fas fa-sign-in-alt"></i></a></li>
                        <li><a href="#">Mis compras  <i class="fas fa-shopping-basket"></i></a></li>
    
                    </ul><!-- Segundo listado -->
                </nav>
            </div>
        </div>
        <div class="btn-menu-hamburguesa">
            <i class="fas fa-bars"></i>
        </div><!-- Botón de menu hamburguesa -->
</header>
<div class="banner">
    <img src="/images/img-home-banner.jpg" alt="Imagen referente a promocion ">
</div>
    <main>
        <div class="titulos">
            <h2>Basado en tu última visita</h2>
        </div>
        
        <div class="sección">
            
        
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                    <div>
                        <i class="fas fa-truck"></i>
                        <p id="precios" >$6.770</p>
                        <p id="descuentos">40% off</p>
                        <p id="descripciones">Cafetera Moulinex</p>
                    </div>

                </article>

                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de la cafetera">
                    <div>
                        <i class="fas fa-truck"></i>
                        <p id="precios">$230.000</p>
                        <p id="descuentos">20% off</p>
                        <p id="descripciones">MacBook Pro 2019</p>
                    </div>

                </article>

                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen de la cafetera">
                    <div>
                        <i class="fas fa-truck"></i>
                        <p id="precios">$70.500</p>
                        <p id="descuentos">10% off</p>
                        <p id="descripciones">Samsung Galaxy S10</p>
                    </div>

                </article>

                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="imagen de la cafetera">
                   <div>
                    <i class="fas fa-truck"></i>
                    <p id="precios">$23.200</p>
                    <p id="descuentos">5% off</p>
                    <p id="descripciones">SmartTv Samsung 43"</p>
                   </div>

                </article>
                
                
      
        </div><!-- Contenedor basado ultima visita -->

        <div class="titulos">
            <h2>Ofertas</h2>
        </div>

        <div class="sección">
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                <div>
                    <i class="fas fa-truck"></i>
                    <p id="precios" >$6.770</p>
                    <p id="descuentos">40% off</p>
                    <p id="descripciones">Cafetera Moulinex</p>
                </div>

            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de la cafetera">
                <div>
                    <i class="fas fa-truck"></i>
                    <p id="precios">$230.000</p>
                    <p id="descuentos">20% off</p>
                    <p id="descripciones">MacBook Pro 2019</p>
                </div>

            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen de la cafetera">
                <div>
                    <i class="fas fa-truck"></i>
                    <p id="precios">$70.500</p>
                    <p id="descuentos">10% off</p>
                    <p id="descripciones">Samsung Galaxy S10</p>
                </div>

            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="imagen de la cafetera">
               <div>
                <i class="fas fa-truck"></i>
                <p id="precios">$23.200</p>
                <p id="descuentos">5% off</p>
                <p id="descripciones">SmartTv Samsung 43"</p>
               </div>

            </article>
        </div>




    </main>
   
        <footer>
            <div class="pagos">
                    <i class="fas fa-credit-card"></i>
                    <h2>Paga con tarjeta o en efectivo</h2>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! </p>
            </div>
    
            <div class="envios">
                
                    <i class="fas fa-gift"></i>       
                    <h2>Envío gratis desde $ 2.500</h2>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos. </p>
                
            </div>
    
            <div class="seguridad">
            
                    <i class="fas fa-user-shield"></i>
                    <h2>Seguridad, de principio a fin</h2>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        
                
            </div>
                         
            <div>
                <p class="derechos">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
            
    
    
    
        </footer><!-- Pie de pagina o footer, caja que contiene la parte inferior de la pagina, similar al header pero en la parte inferior de la pagina -->
    
</body>
</html>