<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /><!-- Link para obtener iconos de la pagina enlazada, para agregar se debe ver la sintaxis que muetsra la pagina -->
        <link rel="stylesheet" href="/css/styles.css" >
        <title>Loggin</title>
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="logo">
                  <a href="/home"><input type="image" img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" ></a> 
                </div><!-- contenedor logo y btn home -->
    
                
                    <div class="buscador">
                        <input type="text" placeholder="Buscar productos marcas y más"><button type="submit" class="lupa"><i class="fas fa-search"></i></input>  
                    </div>
                
        
                <div class="txt-sin-tarjeta">
                    <p><i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de credito</p>
                </div><!-- texto sin tarjeta de credito -->        
            </div><!-- Contenedor caja superior header -->
    
            <div class="medium-header">
                <div class="listadoleft">
                    <nav>
                        <ul class="Primerlistadonav">
                            <li><a href="/ofertas">Ofertas</a></li>
                            <li><a href="#">Tiendas Oficiales</a></li>
                            <li><a href="#">Vender</a></li>
                            <li><a href="#">Ayuda</a></li>
                        </ul><!-- Primer listado -->
                    </nav>
                </div><!-- Contenedor nav izquierdo -->
    
                <div class="listadoright">
                    <nav>
                        <ul class="Segundolistadonav">
                            <li><a href="/register">Crea tu cuenta  <i class="far fa-id-card"></i></a></li>
                            <li><a href="/login">Ingresá  <i class="fas fa-sign-in-alt"></i></a></li>
                            <li><a href="#">Mis compras  <i class="fas fa-shopping-basket"></i></a></li>
                        </ul>
                    </nav>
                </div><!-- Contenedor nav derecho -->
            </div><!-- Contenedor caja central de header -->
    
            <div class="btn-menu-hamburguesa">
                <i class="fas fa-bars"></i>
            </div><!-- Botón de menu hamburguesa -->
        </header><!-- HEADER -->
        <main>
            <form class="formulario-log" action="/home">
                <h2>Ingresa tus datos de usuario</h2>
                <div class="itemform-log">
                    <input type="text" name="usuarioname" placeholder="Ingrese usuario registrado">
                </div><!-- Contenedor input de usuario -->
                <br>
                <div class="itemform-log">
                    <input type="password" name="Contraseña" placeholder="Ingrese contraseña">
                </div>
                <br>
                <div class="btn-log">
                    <input type="submit" value="Ingresar">
                    <input type="reset" value="Borrar">
                </div><!-- Contendor botones enviar y borrar -->
            </form><!-- Estructura de formulario -->
        </main><!-- MAIN -->
        <footer>
            <div class="pagos">
                <i class="fas fa-credit-card"></i>
                <h2>Paga con tarjeta o en efectivo</h2>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! </p>
            </div>
    
            <div class="envios">   
                <i class="fas fa-gift"></i>       
                <h2>Envío gratis desde $ 2.500</h2>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos. </p>
            </div>
    
            <div class="seguridad">            
                <i class="fas fa-user-shield"></i>
                <h2>Seguridad, de principio a fin</h2>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
                         
            <div>
                <p class="derechos">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
        </footer><!-- FOOTER -->
    </body>
</html>