@media (min-width: 769px){
    .top-header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        
    } /* top header organizacion */

    .logo{
        width: 40%;
        align-self:flex-start;
    }/* Logo properties */
    .buscador{
        display: flex;
        width: 35%;        
    }/* Barra de busqueda */
    .buscador .buscadorin{
        display: flex;
        width: 100%;        
    }/* Barra de busqueda */


    .btn-menu-hamburguesa{
        display: none;
    } /* Icono menu hamburguesa  */


    article{
        width: 22%;
    }/* tamaño article */


    



    .medium-header{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 5px;
    
    } 
    .medium-header ul{
        flex-wrap: wrap;
        display: flex;
        margin-left: 10px;
        margin-right: 10px;
        gap: 20px;
    }

    footer{
        padding: 10px;
        text-align: center;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
    }/*Propiedades del contenedor footer*/
    footer div{
        width: 33%;
        flex-wrap: wrap;
    }/* Cada cuadro contenedor */
    
    footer div p{
        display: block;
        }/*Propiedades del cuadro de texto p dentro de cada sección del footer*/
}/* propiedades desktop */

@media (min-width: 1200px){
body{
margin:auto;
max-width: 1200px;
box-shadow: 0px 0px 10px rgb(100, 100, 100); ;
}
}