@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap'); /*Importar fuentes*/
@import url(/css/mobile.css);
@import url(/css/normalizacion.css);
@import url(/css/tablets.css);
@import url(/css/desktop.css);





body{
    background-color:var(--blanco);
}

header{
    border: solid 2px red;
    background-color: var(--amarillo_logo);
}
.top-header{
    border: solid 2px red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap:10px
}
.logo{
    border: solid 2px red;
    width: 50%;
    align-self:flex-start;
}
.buscador{
    border: solid 2px red;
    display: flex;
}
.barra-busqueda{
    border: solid 1px var(--negro);
    background-color: var(--blanco);
    padding: 2px;
    border-radius: 5px;
    }
.barra-busqueda p{
    font-size: var(--text-md);
    color: var(--gris-oscuro);
    display: inline;
}
.icono-lupa{
    border: solid 1px var(--negro);
    background-color: var(--blanco);
    padding: 2px;
    border-radius: 5px;
    font-size: var(--text-md);
    color: var(--gris-oscuro);
    display: inline;
}
.box-txt-sin-tarjeta{
    justify-content:center;
    border: solid 2px red;
    padding: 20px;
    display: flex;
}
.icono-mano{
    font-size: var(--text-md);
    color: var(--negro);
    
}
.txt-sin-tarjeta{
    font-size: var(--text-md);
    color: var(--negro);
    justify-self:center;
    
}

.medium-header{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
}



.medium-header ul{
    flex-wrap: wrap;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    gap: 20px;
}
.medium-header li{
    list-style: none;
    font-family: var(--roboto-font);
    font-size: var(--text-sm);
    font-style: normal;  
     
}
.medium-header a{
    color: black;
    text-decoration: none;
}
.btn-menu-hamburguesa{
display: flex;
justify-content:center;

}
.btn-menu-hamburguesa i{
    background-color: var(--celeste);
    padding: 15px;
    font-size: 20px;
    color: var(--blanco);
    border-radius: 5px;
}
.banner img{
    width: 100%;
}
main{
   margin: 0 auto;
    width: 90%;
}

main h2{
    margin-top: 10px;
    font-family: var(--roboto-font);
    font-size: var(--title-md);
    border: solid 2px red;  
    
}
.basadoultimavisita{
    display: flex;
    flex-direction: column;
    border: solid 2px red;  
}
.ultimavisita{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: solid 2px red;  
}
section img{
    width: 100%;
    border: solid 2px red;  
}
section div{
    border: solid 2px red;
    background-color: var(--blanco);
}

@media (max-width: 360px){
    .medium-header{
       display: none;
   }

}/*Consicionales segun tamaño con resoluciones max de 361*/
@media (min-width: 769px){
    .btn-menu-hamburguesa{
        display: none;
    }/*Condicional de sombra solo para escritorios*/


}