@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap'); /*Importar fuentes*/
@import '/css/mobile.css';
@import '/css/normalizacion.css';
@import '/css/tablets.css';
@import '/css/desktop.css';
@import '/css/desk.css';


body{
    background-color:var(--gris-claro);
}
/* PROPIEDADES HEADER */
header{
    border: solid 2px red;
    background-color: var(--amarillo_logo);
}

.top-header{
    border: solid 2px red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap:10px
}

.logo{
    border: solid 2px red;
    width: 50%;
    align-self:flex-start;
}
.buscador{
    border: solid 2px red;
    display: flex;
}
.barra-busqueda{
    border: solid 1px var(--negro);
    background-color: var(--blanco);
    padding: 2px;
    border-radius: 5px;
    }
.barra-busqueda p{
    font-size: var(--text-md);
    color: var(--gris-oscuro);
    display: inline;
}
.icono-lupa{
    border: solid 1px var(--negro);
    background-color: var(--blanco);
    padding: 2px;
    border-radius: 5px;
    font-size: var(--text-md);
    color: var(--gris-oscuro);
    display: inline;
}
.box-txt-sin-tarjeta{
    justify-content:center;
    border: solid 2px red;
    padding: 20px;
    display: flex;
}
.icono-mano{
    font-size: var(--text-md);
    color: var(--negro);
    
}
.txt-sin-tarjeta{
    font-size: var(--text-md);
    color: var(--negro);
    justify-self:center;
    
}

.medium-header{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
}



.medium-header ul{
    flex-wrap: wrap;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    gap: 20px;
}
.medium-header li{
    list-style: none;
    font-family: var(--roboto-font);
    font-size: var(--text-sm);
    font-style: normal;  
     
}
.medium-header a{
    color: black;
    text-decoration: none;
}
.btn-menu-hamburguesa{
display: flex;
justify-content:center;

}
.btn-menu-hamburguesa i{
    background-color: var(--celeste);
    padding: 15px;
    font-size: 20px;
    color: var(--blanco);
    border-radius: 5px;
}
.banner img{
    width: 100%;
}

/* PROPIEDADES MAIN */

main{
   margin: 0 auto;
    width: 90%;
}

main h2{
    margin:10px 0px;
    font-family: var(--roboto-font);
    font-size: var(--title-md);   
}/* Propiedades de los h2 del main, basado en ultima visita y ofertas */

.sección{
    display: flex;
    flex-wrap: wrap;

}


article img{
    width: 100%;
    
    
}
article div{
    
    background-color: var(--blanco);
}
@media (min-width: 768px){
    .btn-menu-hamburguesa{
        display: none;
    }/*Condicional de sombra solo para escritorios*/
    article{
        width: 25%;
    }


}








