@media (max-width: 768px) and (min-width: 361px){

    .btn-menu-hamburguesa{
        display: none;
    } /* Ocultar menu hamburguesa */

    .top-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    } /* formato contenedor header superior */

    .logo{
    width: 33%;    
    }/* Tamaño contenedor logo */

    .buscador{
    display: flex;
    width: 33%;
    align-items: center;
    }
    .barra-busqueda{
    border: solid 1px var(--negro);
    background-color: var(--blanco);
    padding: 2px;
    border-radius: 5px;
    overflow: hidden;

    }
    .barra-busqueda p{
    white-space: nowrap;
    }
    .icono-lupa{
    border: solid 1px var(--negro);
    background-color: var(--blanco);
    padding: 2px;
    border-radius: 5px;
    display: inline;
    } 

    .txt-sin-tarjeta{
    overflow: hidden;
    width: 33%;
    } 

    .medium-header{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 5px;
    
    } 
    .medium-header ul{
        flex-wrap: wrap;
        display: flex;
        margin-left: 10px;
        margin-right: 10px;
        gap: 20px;
    }
    .medium-header li{
        list-style: none;
        font-style: normal;  
        flex-wrap: wrap;
         
    }
    article{
        width: 45%;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        
    }

}/* propiedades tablet*/






