/* HEADER */

.txt-sin-tarjeta p{
    font-size: var(--text-md);
    font-family: var(--roboto-font);
    color: var(--negro);
    text-align: center;
}/* propiedades txt sin tarjetas de credito */

.medium-header li{
    list-style: none;
    font-style: normal;  
    flex-wrap: wrap;
         
}/* propiedades de listas */

.medium-header a{
    color: black;
    text-decoration: none;
    font-family: var(--roboto-font);
    font-size: var(--text-sm);
}/* propiedades de texto de listas nav*/

/* PROPIEDADES MAIN */
main h2{
    font-family: var(--roboto-font);
    font-size: var(--title-md);  
    color: var(--gris-oscuro); 
}/* Propiedades de los h2 del main, basado en ultima visita y ofertas */

.sección article #precios{
    font-family: var(--roboto-font);
    font-size:var(--text-lg) ;
}/* Propiedades del texto precios en cada articulo dentro de la seccion basado en ultima visita*/
.sección article #descuentos{
    font-family: var(--roboto-font);
    font-size:var(--text-md) ;
    color: var(--verde);
    
}/*Propiedades del texto descuento en cada articulo de la seccion basado en ultima visita*/
.sección article #descripciones{
    font-family: var(--roboto-font);
    color: var(--gris-oscuro);
}/* Propiedades del texto descripción en cada articulo dentro de la sección basado en ultima visita*/


/* FOOTER */

.pagos h2{
    color: var(--gris-oscuro);
    font-family: var(--roboto-font);
    font-size: var(--title-md);
    }/*Propiedades de los h2 dentro de la clase pagos*/
    
.envios h2{
    color: var(--gris-oscuro);
    font-family: var(--roboto-font);
    font-size: var(--title-md);
}/*Propiedades de los h2 dentro de la clase envios*/
    
.seguridad h2{
    color: var(--gris-oscuro);
    font-family: var(--roboto-font);
    font-size: var(--title-md);
}/*Propiedades del h2 dentro de la clase seguridad */

footer div p{
    color: var(--gris-oscuro);
    font-family: var(--roboto-font);
    font-size: var(--text-md);
    }/*Propiedades del texto p dentro de cada sección del footer*/

footer div .derechos{
        font-family: var(--roboto-font);
        font-size: var(--text-md);
        color: var(--negro);

}/*Propiedades del texto p*/



/* HOJA REGISTRO */
.formulario .itemform input{
    font-family: var(--roboto-font);
    font-size: var(--text-sm);
    color: var(--negro);
}/* txt item de formularios */


.formulario  label{
    font-family: var(--roboto-font);
    font-size: var(--text-sm);
    color: var(--negro); 
}
.formulario .itemform label{
    font-family: var(--roboto-font);
    font-size: var(--text-sm);
    color: var(--negro); 
}
.formulario h3{
    font-family: var(--roboto-font);
    font-size: var(--text-lg);  
    color: var(--gris-oscuro); 
}/* titulos formulario registro */

.formulario .foto-itemform label{
    font-family: var(--roboto-font);
    font-size: var(--text-sm);
    color: var(--negro); 
}
.formulario .foto-itemform{
    font-family: var(--roboto-font);
    font-size: var(--text-sm);
    color: var(--negro);
}/* txt form cargar imagen */

.formulario .itemform-fecha input{
    font-family: var(--roboto-font);
    font-size: var(--text-sm);
    color: var(--gris-oscuro); 
}/* txt fecha inicial */
.formulario .perfil-itemform{
    font-family: var(--roboto-font);
    font-size: var(--text-sm);
    color: var(--negro);
}/* radiobutton */

.formulario .categoria-itemform{
    font-family: var(--roboto-font);
    font-size: var(--text-sm);
    color: var(--negro); 
}/* checkbox */
.formulario .passw{
    font-family: var(--roboto-font);
    font-size: var(--text-sm);
    color: var(--negro);
}/* form contraseña */


.formulario .btn input{
    font-family: var(--roboto-font);
    font-size: var(--text-md);
    color: var(--negro);
}/* form botones */

.formulario .itemform input::placeholder{
    font-family: var(--roboto-font);
    font-size: 12px;
}/* texto inicial inputs */
.formulario .passw input::placeholder{
    font-family: var(--roboto-font);
    font-size: 12px;
}/* texto inicial contraseñas */

/* HOJA LOGIN */
.formulario-log .itemform-log input::placeholder{
    font-family: var(--roboto-font);
    font-size: 12px;
}/* texto inicial form login */

.formulario-log .itemform-log input{
    font-family: var(--roboto-font);
    font-size: var(--text-sm);
    color: var(--negro);
}/* texto login form */
.formulario-log .btn-log input{
    font-family: var(--roboto-font);
    font-size: var(--text-md);
    color: var(--negro);
}/* texto botones login */