
.barra-busqueda p{
    font-size: var(--text-md);
    color: var(--gris-oscuro);
    font-family: var(--roboto-font);
    
}
.icono-lupa{
    font-size: var(--text-md);
    color: var(--gris-oscuro);
 
}
.txt-sin-tarjeta p{
    font-size: var(--text-sm);
    font-family: var(--roboto-font);
    color: var(--negro);
    white-space: nowrap;
}
.medium-header li{
    list-style: none;
    font-style: normal;  
    flex-wrap: wrap;
         
}
.medium-header a{
    color: black;
    text-decoration: none;
    font-family: var(--roboto-font);
    font-size: var(--text-sm);
}


/* FOOTER */

.pagos h2{
    color: var(--gris-oscuro);
    font-family: var(--roboto-font);
    font-size: var(--title-md);
    }/*Propiedades de los h2 dentro de la clase pagos*/
    
.envios h2{
    color: var(--gris-oscuro);
    font-family: var(--roboto-font);
    font-size: var(--title-md);
}/*Propiedades de los h2 dentro de la clase envios*/
    
.seguridad h2{
    color: var(--gris-oscuro);
    font-family: var(--roboto-font);
    font-size: var(--title-md);
}/*Propiedades del h2 dentro de la clase seguridad */

footer section p{
    color: var(--gris-oscuro);
    font-family: var(--roboto-font);
    font-size: var(--text-md);
    }/*Propiedades del texto p dentro de cada sección del footer*/

footer .derechos{
        font-family: var(--roboto-font);
        font-size: var(--text-md);
        color: var(--negro);

}/*Propiedades del texto p*/

